{% extends 'base.html' %} 
{% load tailwind_filters %} 
{% load static %}
{% block content %}

{% if request.user.role <= 2 %}
<h2 class="font-bold text-4xl pb-3">Inventory</h2>

<div class="flex flex-row">
  <h3 class="text-gray-700 text-xl pb-10 mr-2">Selected Site: </h3>
  {% if data.selected_site == None %}
    <h3 class="text-gray-500 text-xl pb-10">None</h3>
  {% else %}
    <h3 class="text-gray-500 text-xl pb-10">{{ data.selected_site.siteName }}</h3>
  {% endif %}
</div>
{% else %}
<h2 class="font-bold text-4xl pb-10">Inventory</h2>
{% endif %}

<div class="flex space-x-5">
  <div class="w-full">
    <table
      id="table"
      class="border-none table-fixed w-full overflow-hidden rounded-lg shadow-lg"
      style="width:100%;"
    >
      <thead class="bg-slate-100 text-gray-600">
        <tr>
          <th class="font-medium">Item</th>
          <th class="font-medium">Count</th>
          <th class="font-medium">Category</th>
          <th class="font-medium">Subcategory</th>
          <th class="font-medium">Turnover</th>
          <th class="font-medium">Status</th>
          <th class="font-medium">Last Updated</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for item in data.selected_inventory %}
        <tr
          data-href="{% url 'inventory:detail-inventory' item.pk %}"
          class="row-href cursor-pointer bg-white hover:bg-slate-200 even:bg-slate-100 even:hover:bg-slate-200 ease-in duration-100"
        >
          <td class="">{{ item.item.itemName }}</td>
          <td class="">{{ item.siteItemCount }}</td>
          <td class="">{{ item.item.itemCategory }}</td>
          <td class="">{{ item.item.itemSubcategory }}</td>
          <td class="">{{ item.get_siteItemTurnover_display }}</td>
          <td>
          {% if item.get_siteItemStatus_display == "Within Threshold" %}
            <div class="justify-center text-gray-900 text-sm font-medium flex text-white bg-green-500 border-0 py-2 focus:outline-none rounded-full">
          {% elif item.get_siteItemStatus_display == "Moderate" %}
            <div class="justify-center text-gray-900 text-sm font-medium flex text-white bg-yellow-500 border-0 py-2 focus:outline-none rounded-full">
          {% elif item.get_siteItemStatus_display == "Low" %}
            <div class="justify-center text-gray-900 text-sm font-medium flex text-white bg-orange-500 border-0 py-2 focus:outline-none rounded-full">
          {% elif item.get_siteItemStatus_display == "Critical" %}
            <div class="justify-center text-gray-900 text-sm font-medium flex text-white bg-red-500 border-0 py-2 focus:outline-none rounded-full">
          {% elif item.get_siteItemStatus_display == "Empty" %}
            <div class="justify-center text-gray-900 text-sm font-medium flex text-white bg-gray-500 border-0 py-2 focus:outline-none rounded-full">
          {% endif %}
            {{ item.get_siteItemStatus_display }}
            </div>
          </td>
          <td class="">{% if item.inventoryDateModified %} {{ item.inventoryDateModified }} {% else %} -- {% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div id="page-button" class="flex flex-row ml-auto">
  {% if request.user.role <= 2 %}
    <form method="get" action="{% url 'inventory:list-inventory' %}">
      <div class="flex flex-row">
        <div class="flex select-width">
          {{ data.sites_list }}
        </div>
      <input type="submit" value="Filter Site" class="ml-5 h-full text-white bg-indigo-500 border-0 px-3 py-1 cursor-pointer focus:outline-none hover:bg-indigo-600 rounded-lg ease-in duration-100">
    </div>
    </form>
  {% endif %}
</div>

<script src="{% static 'js/table.js' %}"></script>

{% endblock content %}
