[x-cloak] { 
  display: none 
}

.preload { 
  position: fixed;
  display: block;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
}

.current {
  background-color: #2f4b33;
}

.scdc-bg {
    background-color: #3f5f43;
  }

.nav:hover {
    background-color: #36553a;
  }

.scdc-text {
    color: #3f5f43;
  }

.scdc-border {
    border-color: #3f5f43;
  }

/* DataTables */

#table, #table thead th {
    border: none;
}

#table, #table thead th {
    border: none;
}

.dataTables_info, .dataTables_paginate {
    margin-top: 0.75rem;
}

.dataTables_length select, .dataTables_filter input{
    background-color: #edf2f7 !important;
    border: none !important;
    outline-style: none;
    color: black;
}

.dataTables_length select, .selection .select2-selection, .select2-selection__rendered, .select2-selection__arrow {
    height: 34px !important;
}

#table_filter input, #table_length select {
    border-radius: 0.25rem;
}

#table_filter input {
    padding-left: 10px;
    margin-right: 25px;
}

#table_length select {
    margin-left: 5px;
}

/*Pagination Buttons*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 2rem !important;
    border: none !important;
    background: #edf2f7;
    margin-right: 5px;
    cursor: pointer;
}

/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    background: #3f5f43 !important;
    color: white !important;
    pointer-events: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: black !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
  background: #c7ccdf;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  pointer-events: none;
}

.dataTables_empty {
    vertical-align: middle;
}

.select-width {
    min-width: 200px !important;
}

.select-width label {
  vertical-align: middle;
    margin-right: 10px !important;
}

.selection .select2-selection {
  background:  #edf2f7 !important;
  border: none;
}

.select2-selection__rendered {
  padding-top: 2.5px;
}

.select2-search__field {
  border-radius: 0.25rem;
  outline: none;
}

.select2-dropdown--below {
  border: none;
  border-radius: 0.25rem; 
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
  overflow: hidden;
}

.page-button .select2-container { 
  width: 100% !important; 
}