{% extends 'base.html' %} {% load tailwind_filters %} {% load static %}

<!--  -->

{% block content %}

<h2 class="font-bold text-4xl pb-3">Schedule</h2>

<div class="flex space-x-5">
  <div class="w-full">
    <table
      id="table"
      class="border-none table-fixed w-full overflow-hidden rounded-lg shadow-lg"
      style="width:100%;"
    >
      <thead class="bg-slate-100 text-gray-600">
        <tr>
          <th class="font-medium">Item</th>
          <th class="font-medium">Count</th>
          <th class="font-medium">Category</th>
          <th class="font-medium">Subcategory</th>
          <th class="font-medium">Turnover</th>
          <th class="font-medium">Status</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for item in data.selected_inventory %}
        <tr data-href="{% url 'inventory:detail-inventory' item.pk %}"
          class="row-href cursor-pointer bg-white hover:bg-slate-200 even:bg-slate-100 even:hover:bg-slate-200 ease-in duration-100"
        >
          <td class="itemName">{{ item.item.itemName }}</td>
          <td class=" ">{{ item.siteItemCount }}</td>
          <td class=" ">{{ item.item.itemCategory }}</td>
          <td class=" ">{{ item.item.itemSubcategory }}</td>
          <td class=" ">{{ item.get_siteItemTurnover_display }}</td>
          <td class=" ">{{ item.get_siteItemStatus_display }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script src="{% static 'js/table.js' %}"></script>

{% endblock content %}
