{% extends 'base.html' %} {% load tailwind_filters %} {% load static %} 

<!--  -->

{% block content %}

<h2 class="font-bold text-4xl pb-10">Material Transfers</h2>

<!-- IF STATEMENT to check if user is MO or SE -->
<div class="flex space-x-5">
  <div class="w-full">
  <table
    id="table"
    class="overflow-hidden rounded-lg shadow-lg"
    style="width:100%;"
  >
    <thead class="bg-slate-100 text-gray-600">
      <tr>
        <!-- <th class="w-2/12 font-medium">Req. ID</th> -->
        <th class="w-2/12 font-medium">Tran. ID</th>
        <th class="font-medium">Origin</th>
        <th class="font-medium">Destination</th>
        <th class="font-medium">Deliver By</th>
        <th class="font-medium">Status</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for trans in transfer.transfers %}
      <tr
        data-href="{% url 'transfer:detail-transfer' trans.pk %}"
        class="row-href cursor-pointer bg-white hover:bg-slate-200 even:bg-slate-100 even:hover:bg-slate-200 ease-in duration-100"
      >
        <!-- <td class="p-2">{{ trans.requisition }}</td> -->
        <td class="p-2">{{ trans.transfer }}</td>
        <td class="p-2">{{ trans.site }}</td>
        <td class="p-2">{{ trans.requisition.site }}</td>
        <td class="p-2">{{ trans.requisition.reqDateNeeded }}</td>
        <td class="p-2">{{ trans.get_transferStatus_display }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>

<!-- <script src="{% static 'js/table.js' %}"></script> -->

<script>
  $(document).ready(function () {
    $('#table').on("click", ".row-href", function () {
      window.location = $(this).data("href");
      return false;
    });
  });

  var table = $("#table").DataTable({
    initComplete: function() {
      $('#table_wrapper').prepend($('<div id="table-top" class="flex flex-row mb-5"></div'))
      $('#table_filter').appendTo($('#table-top'))
      $('#table_length').appendTo($('#table-top'))
      $('#table_filter').addClass('flex flex-row justify-start')
      $('#page-button').appendTo($('#table-top'))
      
    },
    responsive: true,
    language: {
      zeroRecords: "No matching results found.",
      emptyTable: "No available records.",
      search: "",
      searchPlaceholder: "Search",
      lengthMenu: "No. Entries: _MENU_"
    },
    lengthMenu: [10, 25, 50],
    columnDefs: [ { type: 'date', 'targets': [2] } ],
    order: [[ 2, 'asc' ]]
  });
</script>

{% endblock %}
