{% extends 'base.html' %} 
{% load tailwind_filters %} 
{% load static %} 

{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
<div class="mx-auto flex flex-col w-2/3 bg-slate-50 drop-shadow-md px-5 py-5 rounded-lg space-y-2">
    <h1 class="text-center text-xl font-bold">No project site is currently assigned to your account.</h1>
    <h1 class="text-center text-xl">Please contact the main office to assign you to a project site.</h1>
</div>

{% endblock content %}