{% extends 'base.html' %} 
{% load tailwind_filters %} 
{% load static %} 

{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
<div>
    <h2 class="font-bold text-4xl pb-10">Dashboard</h2>
</div>

<div class="flex-col space-y-5">
<div class="grid grid-cols-4 gap-4">

    <div class="flex justify-between bg-slate-50 rounded-lg p-4 drop-shadow-md hover:drop-shadow-none ease-in duration-300">
        <div class="text-center m-auto sm:m-0 sm:text-left">
            <h1 class="text-5xl font-bold">{{ data.requisition.count }}</h1>
            <span class="text-slate-700">Requests</span>
        </div>
        <div class="hidden sm:inline-block my-auto">
            <span class="material-icons-outlined my-auto hidden lg:inline-block" style="font-size:40px; color:gray;">article</span>
        </div>
    </div>

    <div class="flex justify-between bg-slate-50 rounded-lg p-4 drop-shadow-md hover:drop-shadow-none ease-in duration-300">
        <div class="text-center m-auto sm:m-0 sm:text-left">
            <h1 class="text-5xl font-bold">69</h1>
            <span class="text-slate-700">Transfers<span>
        </div>
        <div class="hidden sm:inline-block my-auto">
            <span class="material-icons-outlined" style="font-size:40px; color:gray;">autorenew</span>
        </div>
    </div>

    <div class="flex justify-between bg-slate-50 rounded-lg p-4 drop-shadow-md hover:drop-shadow-none ease-in duration-300">
        <div class="text-center m-auto sm:m-0 sm:text-left">
            <h1 class="text-5xl font-bold">{{ data.inventory.count }}</h1>
            <span class="text-slate-700">Customers<span>
        </div>
        <div class="hidden sm:inline-block my-auto">
            <span class="material-icons-outlined my-auto" style="font-size:40px; color:gray;">person</span>
        </div>
    </div>

    <div class="flex justify-between bg-slate-50 rounded-lg p-4 drop-shadow-md hover:drop-shadow-none ease-in duration-300">
        <div class="text-center m-auto sm:m-0 sm:text-left">
            <h1 class="text-5xl font-bold">69</h1>
            <span class="text-slate-700">Projects<span>
        </div>
        <div class="hidden sm:inline-block my-auto">
            <span class="material-icons-outlined my-auto" style="font-size:40px; color:gray;">insert_drive_file</span>
        </div>
    </div>
</div>

<div class="grid grid-cols-2 gap-5 ">
    <div class="flex-col grow">
        <h4 class="font-bold text-2xl pb-2">Material Requests</h4>
        <div class="w-full">
            <table
            id="table"
            class="table overflow-hidden rounded-lg shadow-lg"
            style="width:100%;"
            >
                <thead class="bg-slate-100 text-gray-600">
                    <th class="py-2 font-medium">Req. ID</th>
                    <th class="py-2 font-medium">Destination</th>
                    <th class="py-2 font-medium">Needed By</th>
                    <th class="py-2 font-medium">Status</th>
                </thead>
                <tbody class="text-center">
                    {% for request in data.requisition %}
                    <tr
                    data-href="{% url 'requisition:detail-requisition' request.pk %}"
                    class="row-href cursor-pointer bg-white hover:bg-slate-200 even:bg-slate-100 even:hover:bg-slate-200 ease-in duration-100"
                    >
                        <td class="p-2">{{ request.requisition }}</td>
                        <td class="p-2">{{ request.site }}</td>
                        <td class="p-2">{{ request.reqDateNeeded }}</td>
                        <td class="p-2">{{ request.get_reqStatus_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex-col grow">
        <h4 class="font-bold text-2xl pb-2">Inventory Alerts</h4>
        <div class="w-full">
        <table
        id="table"
        class="table overflow-hidden rounded-lg shadow-lg"
        style="width:100%;"
        >
        <thead class="bg-slate-100 text-gray-600">
            <th class="py-2 font-medium">Item</th>
            <th class="py-2 font-medium">Count</th>
            <th class="py-2 font-medium">Status</th>
        </thead>
        <tbody class="text-center">
            {% for item in data.inventory %}
                {% if item.siteItemStatus == 2 or item.siteItemStatus == 3 %}
                    <tr
                    data-href="{% url 'inventory:detail-inventory' item.pk %}"
                    class="row-href cursor-pointer bg-white hover:bg-slate-200 even:bg-slate-100 even:hover:bg-slate-200 ease-in duration-100"
                    >
                        <td class="p-2">{{ item }}</td>
                        <td class="p-2">{{ item.siteItemCount }}</td>
                        <td class="p-2">{{ item.get_siteItemStatus_display }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
</div>
</div>

<script src="{% static 'js/dash-table.js' %}"></script>

{% endblock content %}