{% load static %}

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<style>
  .scdc-green {
    background-color: #3f5f43;
  }
</style>

<header class="text-gray-100 font-medium scdc-green h-30 shadow-lg">
  <div class="container mx-auto flex items-center content-center justify-between h-20">
    <a class="hidden lg:flex items-center mb-4 md:mb-0">
      <img class="mx-auto h-20" src="{% static 'images/logo-white.png' %}"/>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a href="{% url 'dashboard:dashboard' %}" class="mr-5 hover:text-gray-300 ">Dashboard</a>
      <a href="{% url 'inventory:inventory-list' %}" class="mr-5 hover:text-gray-300">Inventory</a>
      <a class="mr-5 hover:text-gray-300">Schedule</a>
      <a href="{% url 'item:item-list' %}" class="mr-5 hover:text-gray-300">Items</a>
      <br>
      <a href="{% url 'requisition:list-requisition' %}" class="mr-5 hover:text-gray-300">Material Request</a>
      
      <!-- Admin -->
      <div @click.away="open = false" class="relative" x-data="{ open: false }">
        <button @click="open = !open" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-gray-100 rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
          <span>Administrative</span>
          <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48">
          <div class="flex flex-col px-2 py-2 bg-white rounded-md shadow text-gray-600 text-sm">
            <a href="{% url 'requisition:list-requisition' %}" class="px-4 py-2 rounded-lg hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">Project Sites</a>
            <a href="{% url 'requisition:list-requisition' %}" class="px-4 py-2 rounded-lg hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">User Management</a>
          </div>
        </div>
      </div>

    </nav>
    <a href="{% url 'logout' %}">
      <button class="text-gray-900 inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Logout
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    </a>
  </div>
</header>