{% load static %}

<header class="z-50 h-full w-full text-gray-100 font-medium scdc-bg shadow-lg">
  <div class="flex mx-auto content-center justify-center h-20 scdc-bg max-w-7xl px-10">
    <!-- <div class="max-w-7xl"> -->
    <a class="block hidden lg:flex w-full">
    <!-- <a class="block sm:hidden lg:flex w-full"> -->
      <img class="mr-auto h-20" src="{% static 'images/logo-white.png' %}"/>
    </a>
    <nav class="font-raleway w-full navbar ml-auto mr-auto lg:mr-0 flex items-center text-sm justify-center lg:justify-end">
    <!-- <nav class="font-raleway w-full navbar ml-auto mr-auto lg:mr-0 hidden sm:flex items-center text-sm justify-center lg:justify-end"> -->

      {% comment %} ########## {% endcomment %}
      {% if not request.user.site and request.user.role >= 2 %}
      <a href="{% url 'contact_admin' %}" class="main-nav h-full">
        <div class="nav h-full flex items-center ease-in duration-200 px-6">
          DASHBOARD
        </div>
      </a>
      <p class="bg-slate-500 h-3 w-0 border-r"></p>
      <a href="{% url 'contact_admin' %}" class="main-nav h-full">
        <div class="h-full flex items-center nav ease-in duration-200 px-6">
          INVENTORY
        </div>
      </a>
      <p class="bg-slate-500 h-3 w-0 border-r"></p>
      <a href="{% url 'contact_admin' %}" class="main-nav h-full">
        <div class="h-full flex items-center nav ease-in duration-200 px-6">
          ITEMS
        </div>
      </a>
      <p class="bg-slate-500 h-3 w-0 border-r"></p>
      <a href="{% url 'contact_admin' %}" class="main-nav h-full">
        <div class="h-full flex items-center nav ease-in duration-200 px-6">
          REQUESTS
        </div>
      </a>
      <p class="bg-slate-500 h-3 w-0 border-r"></p>
      <a href="{% url 'contact_admin' %}" class="main-nav h-full">
        <div class="h-full flex items-center nav ease-in duration-200 px-6">
          TRANSFERS
        </div>
      </a>

      {% else %}
      <a href="{% url 'dashboard:dashboard' %}" class="main-nav h-full">
        <div class="nav h-full flex items-center ease-in duration-200 px-6">
          DASHBOARD
        </div>
      </a>
      <p class="bg-slate-500 h-3 w-0 border-r"></p>
      <a href="{% url 'inventory:list-inventory' %}" class="main-nav h-full">
        <div class="h-full flex items-center nav ease-in duration-200 px-6">
          INVENTORY
        </div>
      </a>
      <p class="bg-slate-500 h-3 w-0 border-r"></p>
      <a href="{% url 'item:list-item' %}" class="main-nav h-full">
        <div class="h-full flex items-center nav ease-in duration-200 px-6">
          ITEMS
        </div>
      </a>
      <p class="bg-slate-500 h-3 w-0 border-r"></p>
      <a href="{% url 'requisition:list-requisition' %}" class="main-nav h-full">
        <div class="h-full flex items-center nav ease-in duration-200 px-6">
          REQUESTS
        </div>
      </a>
      <p class="bg-slate-500 h-3 w-0 border-r"></p>
      <a href="{% url 'transfer:list-transfer' %}" class="main-nav h-full">
        <div class="h-full flex items-center nav ease-in duration-200 px-6">
          TRANSFERS
        </div>
      </a>
      {% endif %}

      <!-- Admin -->
      <div @click.away="open = false" class="relative" x-data="{ open: false }">
        <button @click="open = !open" class="items-center w-auto px-4 py-2 mt-0 text-sm font-semibold text-left bg-gray-100 rounded-lg inline ml-4 text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline ease-in duration-100">
          <svg xmlns="http://www.w3.org/2000/svg" :class="{'rotate-90': open, 'rotate-0': !open}" class="h-6 w-6 text-gray-600 transition-transform duration-200 transform" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
        <div x-show="open" x-cloak x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-48 mt-2 origin-top-right rounded-md shadow-lg">
          <div class="flex flex-col px-2 py-2 space-y-1 bg-white rounded-md shadow text-gray-600 text-sm">
            {% if request.user.role <= 2  %}
            <a href="{% url 'users:list-user' %}" class="px-4 py-2 rounded-lg hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline ease-in duration-100">User Management</a>
            <a href="{% url 'project_site:list-site' %}" class="px-4 py-2 rounded-lg hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline ease-in duration-100">Project Sites</a>
            {% else %}
            <a href="{% url 'users:list-user' %}" class="px-4 py-2 rounded-lg hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline ease-in duration-100">User Profile</a>
            <a href="{% url 'project_site:list-site' %}" class="px-4 py-2 rounded-lg hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline ease-in duration-100">Site Information</a>
            {% endif %}
            <a href="{% url 'logout' %}" class="px-4 py-2 rounded-lg text-white bg-rose-500 hover:bg-rose-600 focus:outline-none focus:shadow-outline ease-in duration-100">Sign Out</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- MOBILE NAV -->
    <!-- <div @click.away="open = false" class="relative sm:hidden my-auto" x-data="{ open: false }">
      <button @click="open = !open" class="items-center w-auto px-4 py-2 mt-0 text-sm font-semibold text-left bg-gray-100 rounded-lg inline ml-4 text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline ease-in duration-100">
        <svg xmlns="http://www.w3.org/2000/svg" :class="{'rotate-90': open, 'rotate-0': !open}" class="h-6 w-6 text-gray-600 transition-transform duration-200 transform" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
      <div x-show="open" x-cloak x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg">
        <div class="flex flex-col w-full">
          <a href="{% url 'dashboard:dashboard' %}" class="main-nav w-full h-full">
            <div class="nav h-full flex justify-center ease-in duration-200 px-6">
              DASHBOARD
            </div>
          </a>
          <a href="{% url 'inventory:list-inventory' %}" class="main-nav w-full h-full">
            <div class="h-full flex justify-center nav ease-in duration-200 px-6">
              INVENTORY
            </div>
          </a>
          <a href="{% url 'item:list-item' %}" class="main-nav w-full h-full">
            <div class="h-full flex justify-center nav ease-in duration-200 px-6">
              ITEMS
            </div>
          </a>
          <a href="{% url 'requisition:list-requisition' %}" class="main-nav w-full h-full">
            <div class="h-full flex justify-center nav ease-in duration-200 px-6">
              REQUESTS
            </div>
          </a>
          <a href="{% url 'transfer:list-transfer' %}" class="main-nav w-full h-full">
            <div class="h-full flex justify-center nav ease-in duration-200 px-6">
              TRANSFERS
            </div>
          </a>
        </div>
      </div>
    </div> -->
  </div>
</header>

<script>
  $(function() {
      var url = window.location.href;

      $(".navbar .main-nav").each(function() {
          if (url.indexOf(this.href)>=0) {
              $(this).addClass("current");
          }
      });
  });
</script>