{% extends 'base.html' %}
{% load tailwind_filters %}
{% load static %}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">

{% block content %}

<div class="items-start container mx-auto mt-10">
    <h2 class="font-bold text-4xl pb-5">Inventory</h2>

    <a>Return to List</a><span class="material-icons-outlined">
        arrow_back
        </span>

        <h2>{{ item.itemName }}</h2>

        <div>
            Quantity: {{ item.itemCount }}
            Unit Category: {{ item.itemUnitCategory }}
            Status: {{ item.siteItemStatus }}
            Turnover: {{ item.siteItemTurnover }}
            Category: {{ item.itemClassification }}
        </div>  
    </div>
</div>

{% endblock content %}