{% extends 'base.html' %} {% load tailwind_filters %} {% load static %}

<!--  -->

{% block content %}

<h2 class="font-bold text-4xl pb-10">Project Sites</h2>

<div class="flex space-x-5">
  <div class="flex flex-col space-y-5 w-full">
    <table
      id="table"
      class="overflow-hidden rounded-lg shadow-lg"
      style="width:100%;"
    >
      <thead class="bg-slate-100 text-gray-600">
        <tr>
          <th class="font-medium">Name</th>
          <th class="font-medium">Site Engineer</th>
          <th class="font-medium">Contact No.</th>
          <th class="font-medium">City</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for site in project_sites %}
        <tr
          data-href="{% url 'project_site:detail-site' item.pk %}"
          class="row-href cursor-pointer bg-white hover:bg-slate-200 even:bg-slate-100 even:hover:bg-slate-200 ease-in duration-100"
        >
          <td>{{ site.siteName }}</td>
          <td>{{ site.user }}</td>
          <td>{{ site.siteContactNo }}</td>
          <td>{{ site.siteCity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="page-button" class="ml-auto">
    <a href="{% url 'project_site:add-site' %}" class="mx-auto flex justify-center w-full text-white bg-indigo-500 border-0 px-3 py-1 focus:outline-none hover:bg-indigo-600 rounded-lg ease-in duration-100">
        Add a Site
    </a>
  </div>

</div>

<script src="{% static 'js/table.js' %}"></script>

{% endblock content %}
