{% extends 'base.html' %}
{% load tailwind_filters %}
{% load static %}

<!--  -->

{% block content %}
<script type="text/javascript">
  var user = '{{request.user}}'

  function getToken(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getToken('csrftoken');
</script>

    <h2 class="font-bold text-4xl pb-10">Items</h2>

    <div class="flex space-x-5">

        <table id="inventory-list"
            class="table-fixed h-full w-full overflow-hidden rounded-lg shadow-lg">
            <thead class="bg-slate-100">
                <tr>
                    <th class="p-2 font-medium text-gray-600">Item</th>
                    <th class="p-2 font-medium text-gray-600">Category</th>
                    <th class="p-2 font-medium text-gray-600">Subcategory</th>
                    <th class="w-1/12 p-2"></th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for item in data.items %}
                <!-- ADD: Conditional to only display items not in site inv -->
                    <tr id="tableRow" data-href="" 
                    class="row table-row bg-white hover:bg-slate-200 even:bg-slate-100 ease-in duration-100">
                        <td class="p-2">{{ item.itemName }}</td>
                        <td class="p-2">{{ item.itemCategory }}</td>
                        <td class="p-2">{{ item.itemSubcategory }}</td>
            
                        <td>
                            {% if item.itemID in data.itemID_list %} <!-- add correct INVENTORY context -->
                                <p class="h-7 w-7 justify-center mx-auto text-sm font-bold cursor-pointer flex ml-auto mr-2 text-white bg-green-500 border-0 py-1 px-1 focus:outline-none hover:bg-green-600 rounded-full"
                                >✓</p>
                            {% elif item in cart.all %} <!-- add correct CART context -->
                                <p class="h-7 w-7 justify-center mx-auto text-sm font-bold cursor-pointer flex ml-auto mr-2 text-white bg-green-500 border-0 py-1 px-1 focus:outline-none hover:bg-green-600 rounded-full"
                                >✓</p>
                            {% else %}
                                <button data-item={{item.itemID}} data-action="add"
                                class="update-cart h-7 w-7 justify-center mx-auto text-sm font-bold cursor-pointer flex ml-auto mr-2 text-white bg-blue-500 border-0 py-1 px-1 focus:outline-none hover:bg-blue-600 rounded-full"
                                >+</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            
            </tbody>
        </table>
        </form>

        <!-- Add item and search -->
        <div class="h-full flex flex-col">
  <div
  class="text-gray-200 h-full bg-slate-500 flex flex-col space-y-2 justify-end rounded-lg px-3 pt-2 pb-3 shadow-lg ease-in duration-300 hover:shadow"
>
  <!-- FOR MAIN OFFICE ONLY
    <button class="w-full px-3 py-1 bg-slate-200 cursor-pointer rounded-full">Add Item</button> -->
  <div class="flex text-lg font-medium border-b pb-2">
    Search Options:
  </div>
  <div class="pt-1 font-medium">
    Filter by:
    <select name="category" id="category" class="text-black rounded">
      <option value="id">ID</option>
      <option value="type">Count</option>
      <option value="type">Type</option>
    </select>
  </div>
  <div class="flex justify-center">
    <input
      class="rounded border-2 border-gray-300 pl-2 py-auto"
      type="search"
      placeholder="Search"
    />
    <a
      class="h-7 w-7 flex justify-center ml-2 bg-gray-300 rounded-lg"
      href=""
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="text-gray-600 m-auto h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
    </a>
  </div>
</div>
        <div>
            <a href="{% url 'item:item-cart' %}">
                <button
                  class="mx-auto flex justify-center w-full mt-3 text-white bg-indigo-500 border-0 py-2 focus:outline-none hover:bg-indigo-600 rounded-lg ease-in duration-100"
                >
                  View Item Summary
                </button>
              </a>
        </div>
    </div>
</div>


<script type="text/javascript" src="{% static 'js/cart.js' %}" ></script> 

{% endblock content %}