{% extends 'base.html' %}
{% load tailwind_filters %}
{% load static %}

<!--  -->

{% block content %}

    <h2 class="font-bold text-4xl pb-10">Items</h2>

    <div class="flex space-x-5">

        <table id="inventory-list"
            class="table h-full w-full overflow-hidden rounded-lg shadow-lg">
            <thead class="bg-gray-400 text-white">
                <tr>
                    <th class="p-1 font-medium">Item</th>
                    <th class="p-1 font-medium">Category</th>
                    <th class="p-1 font-medium">Subcategory</th>
                    <th class="p-1 font-medium"></th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for item in data.items %}
                <!-- ADD: Conditional to only display items not in site inv -->
                    <tr id="tableRow" data-href="" 
                    class="row table-row bg-white hover:bg-slate-200 even:bg-slate-100 even:hover:bg-gray-300 ease-in duration-100">
                        <td class="p-2">{{ item.itemName }}</td>
                        <td class="p-2">{{ item.itemCategory }}</td>
                        <td class="p-2">{{ item.itemSubcategory }}</td>
            
                        <td class="justify-end">
                            {% if item.itemID in data.itemID_list %} <!-- add correct INVENTORY context -->
                                <p class="h-7 w-7 justify-center mx-auto text-sm font-bold cursor-pointer flex mr-2 text-white bg-green-500 border-0 py-1 px-1 focus:outline-none hover:bg-green-600 rounded-full"
                                >✓</p>
                            {% elif item in cart.all %} <!-- add correct CART context -->
                                <p class="h-7 w-7 justify-center mx-auto text-sm font-bold cursor-pointer flex mr-2 text-white bg-green-500 border-0 py-1 px-1 focus:outline-none hover:bg-green-600 rounded-full"
                                >✓</p>
                            {% else %}
                                <a href="{% url 'item:add-to-cart' item.pk %}"
                                class="h-7 w-7 justify-center mx-auto text-sm font-bold cursor-pointer flex mr-2 text-white bg-blue-500 border-0 py-1 px-1 focus:outline-none hover:bg-blue-600 rounded-full"
                                >+</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            
            </tbody>
        </table>
        </form>

        <!-- Add item and search -->
        <div class="h-full flex flex-col">
        <div
            class="h-full bg-gray-400 flex flex-col space-y-3 justify-end rounded-lg px-3 py-3 shadow-lg ease-in duration-300 hover:shadow">
            <!-- FOR MAIN OFFICE ONLY
            <button class="w-full px-3 py-1 bg-slate-200 cursor-pointer rounded-full">Add Item</button> -->
            <div class="border-t-40 text-white">
                Filter by:
                <select name="category" id="category" class="text-black rounded">
                    <option value="id">ID</option>
                    <option value="type">Count</option>
                    <option value="type">Type</option>
                </select>
            </div>
            <div class="flex">
                <input class="rounded border-2 border-gray-300 px-2 py-auto" type="search" placeholder="Search">
                    <span class="material-icons-sharp text-white ml-2">
                        search
                    </span>
            </div>
        </div>
        <div>
            <a href="{% url 'item:item-cart' %}">
                <button
                  class="mx-auto flex justify-center w-4/5 mt-3 text-white bg-indigo-500 border-0 py-2 focus:outline-none hover:bg-indigo-600 rounded-full ease-in duration-100"
                >
                  View Item Summary
                </button>
              </a>
        </div>
    </div>
</div>


<script type="text/javascript" src="{% static 'js/item-add-inventory.js' %}" ></script> 

{% endblock content %}