{% extends 'base.html' %}
{% load tailwind_filters %}
{% load static %}

<!--  -->

{% block content %}
    <h2 class="font-bold text-4xl pb-10">Items</h2>

    <div class="flex space-x-5">
      <div class="w-full">
        <table id="table"
            class="table-fixed w-full overflow-hidden rounded-lg shadow-lg"
            style="width:100%;">
            <thead class="bg-slate-100 text-gray-600">
                <tr>
                    <th class="font-medium ">Item</th>
                    <th class="font-medium">Category</th>
                    <th class="font-medium">Subcategory</th>
                    {% if request.user.role == 3 %}
                    <th class="w-1/12 font-medium">Add</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody class="text-center">
                {% for item in data.items %}
                    {% if request.user.role <= 1 %}
                    <tr
                    data-href="{% url 'item:detail-item' item.pk %}"
                    class="row-href cursor-pointer bg-white hover:bg-slate-200 even:bg-slate-100 ease-in duration-100">
                    {% else  %}
                    <tr
                    class=" bg-white  even:bg-slate-100 ease-in duration-100">
                    {% endif %}
                        <td class="p-2">{{ item.itemName }}</td>
                        <td class="p-2">{{ item.itemCategory }}</td>
                        <td class="p-2">{{ item.itemSubcategory }}</td>
                        {% if request.user.role == 3 %}
                            <td>
                                {% if item.item in data.inventory %}
                                    <p id="" class="h-7 w-7 justify-center text-sm font-bold cursor-pointer flex ml-auto mr-2 text-white bg-green-500 border-0 py-1 px-1 focus:outline-none hover:bg-green-600 rounded-full"
                                    >✓</p>
                                {% elif item.item in data.cartItemID_list %}
                                    <p class="h-7 w-7 justify-center text-sm font-bold cursor-pointer flex ml-auto mr-2 text-white bg-green-500 border-0 py-1 px-1 focus:outline-none hover:bg-green-600 rounded-full"
                                    >✓</p>
                                {% else %}
                                    <button data-item="{{ item.item }}" data-action="add"
                                    class="update-cart h-7 w-7 justify-center text-sm font-bold cursor-pointer flex ml-auto mr-2 text-white bg-blue-500 border-0 py-1 px-1 focus:outline-none hover:bg-blue-600 rounded-full"
                                    >+</button>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            
            </tbody>
        </table>
      </div>
</div>

<div id="page-button" class="flex flex-row ml-auto">
    {% if request.user.role == 3 %}
        <a href="{% url 'item:list-cart' %}" class="mx-auto flex text-center justify-center h-full w-full text-white bg-indigo-500 border-0 px-3 py-1 focus:outline-none hover:bg-indigo-600 rounded-lg ease-in duration-100">
            View Item Summary
        </a>
    {% endif %}
    {% if request.user.role < 3 %}
        <a href="{% url 'item:add-item' %}" class="mx-auto flex text-center justify-center h-full w-full text-white bg-indigo-500 border-0 px-3 py-1 focus:outline-none hover:bg-indigo-600 rounded-lg ease-in duration-100">
            Add an Item
        </a>
    {% endif %}
</div>

<script type="text/javascript" src="{% static 'js/cart.js' %}" ></script> 
<script type="text/javascript" src="{% static 'js/table.js' %}" ></script> 

{% endblock content %}